{% extends 'base.html' %}
{% block content %}
<div class="container py-3">
    <div style="text-align: center;">
        <h3>WELCOME TO TUITION MANAGEMENT SYSTEM APP</h3>
        <img src="https://content3.jdmagicbox.com/comp/bhopal/v7/0755px755.x755.200515183446.t9v7/catalogue/ashish-tuition-classes-bhopal-1s2jzpp13u.jpg?clr=f573a" height="50%" width="50%">
        <div style="padding: 15px; ">
            <p>
            This is Tuition Managemt Syatem for Customer and Manager<br>
            Here you can<br>
        </p>
        <center><table style="margin: 5px; ">
            <tr>
                <td>1. View details as Customer</td>
            </tr>
            <tr>
                <td>2. View details as Manager</td>
            </tr>
        </table> 
        </center>
            
        </div>
    </div>
</div>
{% endblock %}